h1 {
  font-size: 63px;
  margin-top: 5px;
  margin-bottom: 10px;
}

body {
  background: #EEEEEE;
  color: #444;
}

.main-section {
  max-width: 750px;
  margin: 0 auto;
}

#second {
  margin-top: 20px;
}

#picture {
  border: 1px solid black;
  max-height: 320px;
}

#github-logo {
  margin-right: 11px;
  width: 82px;
}

#linkedin-logo {
  margin-right: 15px;
  width: 80px;
}

#quora-logo {
  margin-right: 15px;
  width: 80px;
}

.intro {
  font-size: 20px;
}
