h1 {
  font-family: 'Seaweed Script', cursive;
  font-size: 63px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#picture {
  border: 2px solid black;
}

#github-logo {
  margin-right: 11px;
  width: 82px;
}

#linkedin-logo {
  margin-right: 15px;
  width: 80px;
}

#quora-logo {
  margin-right: 15px;
  width: 80px;
}

#intro {
  font-size: 20px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* 768px and up) */
@media (min-width: @screen-sm-min) {

}
